body {
    background-image: url('images/bg_epicode.png');
    background-size: cover;
}

div.container {
    display: flex;
    justify-content: center;
}

h2 {
    color: white;
    font-family: monospace;
    font-size: 24px;
    text-align: center;
}

img.js_logo {
    width: 250px;
}